// # Variables # //

// -- Grid Sizes -- //
$xs: "0px";
$sm: "768px";
$md: "992px";
$lg: "1200px";
$xl: "1600px";

.helium-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    > * {
        flex-basis: 100%;
        padding: 10px;
        box-sizing: border-box;
        height: auto;
    }

    .xs-1 {
        flex-basis: 8.33%;
    }
    .xs-2 {
        flex-basis: 16.66%;
    }
    .xs-3 {
        flex-basis: 25%;
    }
    .xs-4 {
        flex-basis: 33.33%;
    }
    .xs-5 {
        flex-basis: 41.66%;
    }
    .xs-6 {
        flex-basis: 50%;
    }
    .xs-7 {
        flex-basis: 58.33%;
    }
    .xs-8 {
        flex-basis: 66.66%;
    }
    .xs-9 {
        flex-basis: 75%;
    }
    .xs-10 {
        flex-basis: 83.33%;
    }
    .xs-11 {
        flex-basis: 91.66%;
    }
    .xs-12 {
        flex-basis: 100%;
    }

    @media screen and (min-width: #{$sm}) {
        .sm-1 {
            flex-basis: 8.33%;
        }
        .sm-2 {
            flex-basis: 16.66%;
        }
        .sm-3 {
            flex-basis: 25%;
        }
        .sm-4 {
            flex-basis: 33.33%;
        }
        .sm-5 {
            flex-basis: 41.66%;
        }
        .sm-6 {
            flex-basis: 50%;
        }
        .sm-7 {
            flex-basis: 58.33%;
        }
        .sm-8 {
            flex-basis: 66.66%;
        }
        .sm-9 {
            flex-basis: 75%;
        }
        .sm-10 {
            flex-basis: 83.33%;
        }
        .sm-11 {
            flex-basis: 91.66%;
        }
        .sm-12 {
            flex-basis: 100%;
        }
    }

    @media screen and (min-width: #{$md}) {
        .md-1 {
            flex-basis: 8.33%;
        }
        .md-2 {
            flex-basis: 16.66%;
        }
        .md-3 {
            flex-basis: 25%;
        }
        .md-4 {
            flex-basis: 33.33%;
        }
        .md-5 {
            flex-basis: 41.66%;
        }
        .md-6 {
            flex-basis: 50%;
        }
        .md-7 {
            flex-basis: 58.33%;
        }
        .md-8 {
            flex-basis: 66.66%;
        }
        .md-9 {
            flex-basis: 75%;
        }
        .md-10 {
            flex-basis: 83.33%;
        }
        .md-11 {
            flex-basis: 91.66%;
        }
        .md-12 {
            flex-basis: 100%;
        }
    }

    @media screen and (min-width: #{$lg}) {
        .lg-1 {
            flex-basis: 8.33%;
        }
        .lg-2 {
            flex-basis: 16.66%;
        }
        .lg-3 {
            flex-basis: 25%;
        }
        .lg-4 {
            flex-basis: 33.33%;
        }
        .lg-5 {
            flex-basis: 41.66%;
        }
        .lg-6 {
            flex-basis: 50%;
        }
        .lg-7 {
            flex-basis: 58.33%;
        }
        .lg-8 {
            flex-basis: 66.66%;
        }
        .lg-9 {
            flex-basis: 75%;
        }
        .lg-10 {
            flex-basis: 83.33%;
        }
        .lg-11 {
            flex-basis: 91.66%;
        }
        .lg-12 {
            flex-basis: 100%;
        }
    }

    @media screen and (min-width: #{$xl}) {
        .xl-1 {
            flex-basis: 8.33%;
        }
        .xl-2 {
            flex-basis: 16.66%;
        }
        .xl-3 {
            flex-basis: 25%;
        }
        .xl-4 {
            flex-basis: 33.33%;
        }
        .xl-5 {
            flex-basis: 41.66%;
        }
        .xl-6 {
            flex-basis: 50%;
        }
        .xl-7 {
            flex-basis: 58.33%;
        }
        .xl-8 {
            flex-basis: 66.66%;
        }
        .xl-9 {
            flex-basis: 75%;
        }
        .xl-10 {
            flex-basis: 83.33%;
        }
        .xl-11 {
            flex-basis: 91.66%;
        }
        .xl-12 {
            flex-basis: 100%;
        }
    }
}