.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 1 1 0px;
      flex-basis: 1 1 0px;
  margin-bottom: 20px;
}

.flex-grid .top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-grid .bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex-grid > * {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: auto;
}

.flex-grid .xs-1 {
  width: 8.33%;
}

.flex-grid .xs-2 {
  width: 16.66%;
}

.flex-grid .xs-3 {
  width: 25%;
}

.flex-grid .xs-4 {
  width: 33.33%;
}

.flex-grid .xs-5 {
  width: 41.66%;
}

.flex-grid .xs-6 {
  width: 50%;
}

.flex-grid .xs-7 {
  width: 58.33%;
}

.flex-grid .xs-8 {
  width: 66.66%;
}

.flex-grid .xs-9 {
  width: 75%;
}

.flex-grid .xs-10 {
  width: 83.33%;
}

.flex-grid .xs-11 {
  width: 91.66%;
}

.flex-grid .xs-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .flex-grid .sm-1 {
    width: 8.33%;
  }
  .flex-grid .sm-2 {
    width: 16.66%;
  }
  .flex-grid .sm-3 {
    width: 25%;
  }
  .flex-grid .sm-4 {
    width: 33.33%;
  }
  .flex-grid .sm-5 {
    width: 41.66%;
  }
  .flex-grid .sm-6 {
    width: 50%;
  }
  .flex-grid .sm-7 {
    width: 58.33%;
  }
  .flex-grid .sm-8 {
    width: 66.66%;
  }
  .flex-grid .sm-9 {
    width: 75%;
  }
  .flex-grid .sm-10 {
    width: 83.33%;
  }
  .flex-grid .sm-11 {
    width: 91.66%;
  }
  .flex-grid .sm-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .flex-grid .md-1 {
    width: 8.33%;
  }
  .flex-grid .md-2 {
    width: 16.66%;
  }
  .flex-grid .md-3 {
    width: 25%;
  }
  .flex-grid .md-4 {
    width: 33.33%;
  }
  .flex-grid .md-5 {
    width: 41.66%;
  }
  .flex-grid .md-6 {
    width: 50%;
  }
  .flex-grid .md-7 {
    width: 58.33%;
  }
  .flex-grid .md-8 {
    width: 66.66%;
  }
  .flex-grid .md-9 {
    width: 75%;
  }
  .flex-grid .md-10 {
    width: 83.33%;
  }
  .flex-grid .md-11 {
    width: 91.66%;
  }
  .flex-grid .md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .flex-grid .lg-1 {
    width: 8.33%;
  }
  .flex-grid .lg-2 {
    width: 16.66%;
  }
  .flex-grid .lg-3 {
    width: 25%;
  }
  .flex-grid .lg-4 {
    width: 33.33%;
  }
  .flex-grid .lg-5 {
    width: 41.66%;
  }
  .flex-grid .lg-6 {
    width: 50%;
  }
  .flex-grid .lg-7 {
    width: 58.33%;
  }
  .flex-grid .lg-8 {
    width: 66.66%;
  }
  .flex-grid .lg-9 {
    width: 75%;
  }
  .flex-grid .lg-10 {
    width: 83.33%;
  }
  .flex-grid .lg-11 {
    width: 91.66%;
  }
  .flex-grid .lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .flex-grid .xl-1 {
    width: 8.33%;
  }
  .flex-grid .xl-2 {
    width: 16.66%;
  }
  .flex-grid .xl-3 {
    width: 25%;
  }
  .flex-grid .xl-4 {
    width: 33.33%;
  }
  .flex-grid .xl-5 {
    width: 41.66%;
  }
  .flex-grid .xl-6 {
    width: 50%;
  }
  .flex-grid .xl-7 {
    width: 58.33%;
  }
  .flex-grid .xl-8 {
    width: 66.66%;
  }
  .flex-grid .xl-9 {
    width: 75%;
  }
  .flex-grid .xl-10 {
    width: 83.33%;
  }
  .flex-grid .xl-11 {
    width: 91.66%;
  }
  .flex-grid .xl-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=helium-grid.css.map */